
<h1></h1>

<form action="/square/results">
  <label for="giraffe">Minimum</label>
  <label for="giraffe">Maximum</label>
  <input id="giraffe" type="text" placeholder="What number do you want to square?" name="elephant">

  <button>Calculate square</button>
</form>

<a href="/random/new">Pick another random number
